---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/sections/Hero.astro';
import Infrastructure from '../components/sections/Infrastructure.astro';
import Deployments from '../components/sections/Deployments.astro';
---

<Layout>
	<main id="main-content">
		<Hero />

		<Infrastructure />

		<Deployments />

		<section id="projects" class="pt-24">
			<h2 class="text-2xl font-bold">Projects</h2>
		</section>

		<section id="contact" class="pt-24 pb-24">
			<h2 class="text-2xl font-bold">Contact</h2>
		</section>
	</main>
</Layout>
